@import "../vars.css";

.wlk-AboutPage {
  margin: 2em 10%;
  line-height: 1.5;

  & a {
    text-decoration: none;
  }
}

.wlk-AboutPage-title {
  text-indent: -9999px;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/img/logo-white.png);
}

.wlk-AboutPage-socialMedia {
  margin: 0 0.8em;
  display: inline-block;
  & a:visited {
    color: var(--text-color);
  }
}
.wlk-AboutPage-socialMediaIcon {
  margin-right: 0.8em;
}

.wlk-AboutPage-separator {
  border: 0px solid #555;
  border-top-width: 1px;
}

.wlk-Rules {
  display: flex;
}

.wlk-Rules-item {
  margin: .8em 0;
}
